# Example of expected variables in your project

API_KEY="verysecret"
AVAIL_ACCELARATOR="mps"

# Using in python:
#from dotenv import load_dotenv
#import os
#load_dotenv()
#api_key = os.getenv("API_KEY")
